{% extends 'base.html.twig' %}

{% block title %}Séances artistes{% endblock %}

{% block body %}
 
    <div class="navbar">
        <a href="{{ path('artists') }}">Les artistes</a>
        <a href="{{ path('securityinfos') }}">Les infos de sécurités</a>
        <a href="{{ path('actualities') }}">Les actualités</a>
        <a href="{{ path('scenes') }}">Les scènes</a> 
        <a href="{{ path('seances_artists') }}">Les séances</a> 
        <a href="{{ path('meet_artists') }}">Les rencontres</a> 
    </div>

    <h1>Séances des artistes</h1>
    <a href="{{path('new_seance_artist')}}">Ajouter une séance</a>
    <table>
        <thead>
            <tr>
                <td>Artiste</td>
                <td>Scène</td>
                <td>Heure début</td>
                <td>Heure fin</td>
                <td>Date</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for seance_artist in seance_artists %}
                <tr>
                    <td>{{seance_artist.artist.name}}</td>
                    <td>{{seance_artist.idScene.name}}</td>
                    <td>{{seance_artist.beginning|date('H:i')}}</td>
                    <td>{{seance_artist.ending|date(' H:i')}}</td>
                    <td>{{seance_artist.date|date('d/m/Y')}}</td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <a href="{{ path('seance_details',{'id': seance_artist.id}) }}">DETAIL</a>
                                </td>
                                <td>
                                    <a href="{{ path('update_seance_artist',{'id':seance_artist.id}) }}">MODIFIER</a>
                                </td>
                                <td>
                                    <a href="{{ path('delete_seance_artist',{'id':seance_artist.id}) }}">SUPPRIMER</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
