{% extends 'base.html.twig' %}

{% block title %}Détails de la séance{% endblock %}

{% block body %}
    <h1>Détails de la séance avec : {{seance_details.artist.name}}</h1>
     <img src="{{seance_details.artist.picture}}">
    <p>Date: {{seance_details.date|date('d/m/Y')}}</p>
    <p>Début de la séance: {{seance_details.beginning|date('H:i')}}</p>
    <p>Fin de la séance: {{seance_details.ending|date('H:i')}}</p>
    <p>Lieu: {{seance_details.idScene.name}}</p>
  

    <a href="{{ path('seances_artists') }}">Retour</a>

{% endblock %}