{% extends 'base.html.twig' %}

{% block title %}Informations de sécurité{% endblock %}

{% block body %}
    <div class="navbar">
        <a href="{{ path('artists') }}">Les artistes</a>
        <a href="{{ path('securityinfos') }}">Les infos de sécurités</a>
        <a href="{{ path('actualities') }}">Les actualités</a>
        <a href="{{ path('scenes') }}">Les scènes</a> 
        <a href="{{ path('seances_artists') }}">Les séances</a> 
        <a href="{{ path('meet_artists') }}">Les rencontres</a> 
    </div>
    
    <h1>Les infos :</h1>
    <a href="{{path('new_securityinfo')}}">Ajouter une info de sécurité</a>
    <table>
        <thead>
            <tr>
                <td>Titre</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            {% for securityinfo in securityinfos %}
                <tr>
                    <td>{{securityinfo.title}}</td>
                    <td>{{securityinfo.description}}</td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <a href="{{ path('securityinfo',{'id': securityinfo.id}) }}">DETAIL</a>
                                </td>
                                <td>
                                    <a href="{{ path('update_securityinfo',{'id':securityinfo.id}) }}">MODIFIER</a>
                                </td>
                                <td>
                                    <a href="{{ path('delete_securityinfo',{'id':securityinfo.id}) }}">SUPPRIMER</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
