{% extends 'base.html.twig' %}

{% block title %}Artists details{% endblock %}

{% block body %}

<a href="{{path('new_artist')}}">Ajouter un artiste</a>
    <h1>Les artistes</h1>
    <table>
        <thead>
            <tr>
                <td>Nom</td>
                <td>Photo</td>
                <td>Description</td>
                <td>Catégorie</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for artist in artists %}
                <tr>
                    <td>{{artist.name}}</td>
                    <td> <img src="{{artist.picture}}"></td>
                    <td>{{artist.description}}</td>
                    <td>{{artist.category}}</td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <a href="{{ path('artist',{'id': artist.id}) }}">DETAIL</a>
                                </td>
                                <td>
                                    <a href="{{ path('update_artist',{'id':artist.id}) }}">MODIFIER</a>
                                </td>
                                <td>
                                    <a href="{{ path('delete_artist',{'id':artist.id}) }}">SUPPRIMER</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
