{% extends 'base.html.twig' %}

{% block title %}Liste artistes{% endblock %}

{% block body %}

    <div class="navbar">
        <a href="{{ path('artists') }}">Les artistes</a>
        <a href="{{ path('securityinfos') }}">Les infos de sécurités</a>
        <a href="{{ path('actualities') }}">Les actualités</a>
        <a href="{{ path('scenes') }}">Les scènes</a> 
        <a href="{{ path('seances_artists') }}">Les séances</a> 
        <a href="{{ path('meet_artists') }}">Les rencontres</a> 
    </div>
    
    <h1 class="h1-artist">Les artistes</h1>
    <a href="{{path('new_artist')}}" class="submit-artist">Ajouter un artiste</a>
    <table>
        <thead>
            <tr class="title-artist">
                <td>Nom</td>
                <td>Photo</td>
                <td>Description</td>
                <td>Catégorie</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for artist in artists %}
                <tr>
                    <td class="artist-name">{{artist.name}}</td>
                    <td> <img src="{{artist.picture}}" class="artist-img"></td>
                    <td class="description-artist">{{artist.description}}</td>
                    <td>{{artist.category}}</td>
                    <td>
                        <table class="action-bouton">
                            <tr class="action-bouton">
                                <td>
                                    <a href="{{ path('artist',{'id': artist.id}) }}" class="action-bouton">DETAIL</a>
                                </td>
                                <td>
                                    <a href="{{ path('update_artist',{'id':artist.id}) }}" class="action-bouton">MODIFIER</a>
                                </td>
                                <td>
                                    <a href="{{ path('delete_artist',{'id':artist.id}) }}" class="action-bouton">SUPPRIMER</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
